@layer {
  /* External links */
  .external-link::after {
    content: "↗";
    @apply ml-1 inline-block text-xs;
  }

  /* Links list styling */
  ul.links-list {
    @apply flex flex-col gap-2;
  }

  ul.links-list li {
    @apply bg-background-paper/50 dark:bg-background-level2 hover:border-complementary/50 dark:hover:bg-background-level3 dark:border-border-dark border-l-secondary hover:border-l-secondary flex items-start rounded-lg border border-l-4 border-transparent shadow-lg transition-all duration-200 hover:shadow-xl dark:shadow-none;
  }

  /* Emoji styling */
  .emoji {
    @apply mx-1 inline-block text-xl;
  }

  /* Specific styling for links with emojis */
  ul.links-list li a {
    @apply text-secondary flex w-full items-center gap-8 p-4 font-bold no-underline hover:no-underline;
  }

  ul.links-list li a em {
    @apply border-border-default -ml-6 border-l pl-2;
  }

  ul.links-list li .emoji {
    @apply mt-0.5 flex-shrink-0 text-2xl;
  }

  ul.links-list li a > :not(.emoji) {
    @apply flex flex-col;
  }

  ul.links-list li em {
    @apply text-text-secondary text-sm font-normal not-italic;
  }

  a.wiki-link-exists {
    @apply text-complementary no-underline hover:underline;
  }

  a.wiki-link-missing {
    @apply !text-error;
  }

  ul.links-list li:has(a.wiki-link-missing) {
    @apply hover:border-error/50 border-l-error hover:border-l-error border border-l-4;
  }

  ul.links-list li a.wiki-link-missing::after {
    @apply text-text-secondary/50 text-xs font-normal;
    content: "Page missing";
  }

  blockquote {
    @apply bg-background-level1 rounded-lg border-l-2 py-2 pl-4;
  }

  blockquote p {
    @apply text-text-secondary text-sm font-normal not-italic;
  }

  blockquote p::before {
    content: "";
  }

  blockquote p::after {
    content: "";
  }

  blockquote.is-info {
    @apply border-info bg-info/10;
  }

  blockquote.is-info::before {
    @apply text-info;
  }

  blockquote.is-warning {
    @apply border-warning bg-warning/10;
  }

  blockquote.is-warning::before {
    @apply text-warning;
  }

  blockquote.is-danger {
    @apply border-error bg-error/10;
  }

  blockquote.is-danger::before {
    @apply text-error;
  }

  blockquote.is-success {
    @apply border-success bg-success/10;
  }

  blockquote.is-success::before {
    @apply text-success;
  }

  blockquote.is-quote {
    @apply border-text-secondary bg-text-secondary/10;
  }

  blockquote.is-quote::before {
    content: "Quote";
    @apply text-text-secondary;
  }

  blockquote.is-quote p::before {
    content: "“";
  }

  blockquote.is-quote p::after {
    content: "”";
  }

  /* Lists */
  ul {
    @apply list-inside list-disc gap-0 pl-4;
  }

  ol {
    @apply list-inside list-decimal gap-0 pl-4;
  }

  ul li {
    @apply p-[0.1rem];
  }

  ul li p {
    @apply my-0 py-0;
  }

  ol li {
    @apply p-[0.1rem];
  }

  ol li p {
    @apply my-0 py-0;
  }

  /* Asset links */
  a.asset-link {
    @apply text-secondary no-underline hover:underline;
  }

  a.asset-link::before {
    content: "📄 [Asset]"; /* File emoji */
    @apply text-text-tertiary mr-1 inline-block font-normal;
  }
}
